@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Bem vindo ao ASP.NET Core MVC</h2>
    <h3>Escolha uma opção</h3>
    @*<ul>
        <li>@Html.ActionLink("Exibir Texto Puro", "ExibirTexto", "Exemplos")</li>
        <li>@Html.ActionLink("Exibir Action Conteudo", "Conteudo", "Exemplos")</li>
        <li>@Html.ActionLink("Cadastro de produtos", "Cadastro", "Exemplos")</li>
        <li>@Html.ActionLink("Cadastro de produtos - Model", "CadastroModel", "Exemplos")</li>
        <li>@Html.ActionLink("Cadastro de produtos - Tag Helper", "CadastroModelTag", "Exemplos")</li>
    </ul>*@
    <ul>
        <li><a asp-action="ExibirTexto" asp-controller="Exemplos">Exibir Texto Puro</a></li>
        <li><a asp-action="Conteudo" asp-controller="Exemplos">Exibir Action Conteudo</a></li>
        <li><a asp-action="Cadastro" asp-controller="Exemplos">Cadastro de produtos</a></li>
        <li><a asp-action="CadastroModel" asp-controller="Exemplos">Cadastro de produtos - Model</a></li>
        <li><a asp-action="CadastroModelTag" asp-controller="Exemplos">Cadastro de produtos - Tag Helper</a></li>
        <li><a asp-action="Index" asp-controller="Pessoas">Clientes e Fornecedores</a></li>
    </ul>
</div>
