@model IEnumerable<Projeto02.GestaoEventos.ViewModel.EventosConvidadosVM>

@{
    ViewData["Title"] = "ListarConvidados";
}

<h1>Listar Convidados por Evento</h1>

<p>
    <a asp-action="EfetuarInscricao" class="btn btn-secondary">Efetuar nova inscrição</a>
</p>
<p>
    @using (Html.BeginForm("ListarConvidados", "Inscricoes", FormMethod.Get))
    {
        <div class="mb-3">
            @Html.Label("evento", "Escolha o evento")
            @Html.DropDownList("codigoEvento", (SelectList)ViewBag.ListaEventos, "TODOS", new{ @class="form-select" })
        </div>
        <div class="mb-3">
            <input type="submit" value="Buscar" class="btn btn-primary"/>
        </div>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Convidado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInscricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Convidado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInscricao)
            </td>
            <td>
                <button 
                    type="button" 
                    class="btn btn-danger remove"
                    data-id="@item.Id"
                    data-bs-toggle="modal" 
                    data-bs-target="#modalremove">Remover inscrição</button>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal fade" id="modalremove" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Tem certeza que deseja remover essa inscrição?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não, voltar para a lista</button>
                <button type="button" class="btn btn-danger" id="btnRemover" data-bs-dismiss="modal">Sim, remover</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function(){

            let id;

            $(".remove").click(function(){
                // this - botao clicado, attr("atributo") - pega valor do atributo do elemento html
                id = $(this).attr("data-id");
            });


            $("#btnRemover").click(function(){
                let rota = "/Inscricoes/RemoverInscricao/" + id;
                $(location).attr("href", rota);
            });
        });
    </script>
}