@model IEnumerable<Projeto02.GestaoEventos.ViewModel.EventosConvidadosVM>

@{
    ViewData["Title"] = "ListarEventos";
}

<h1>Listar Eventos por Convidado</h1>

<p>
    <a asp-action="EfetuarInscricao" class="btn btn-secondary">Inscrever novo convidado</a>
</p>
<div class="mb-3">
        @using(Html.BeginForm("ListarEventos", "Inscricoes", FormMethod.Get))
        {
            <div class="mb-3">
                @Html.Label("convidado", "Selecione um convidado")
                @Html.DropDownList("codigoConvidado", (SelectList)ViewBag.ListaConvidados, "TODOS", new { @class = "form-select" })
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Convidado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInscricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Convidado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInscricao)
            </td>
            <td>
                    @Html.ActionLink("Excluir inscrição", "ExcluirInscricao", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
