@*View Fortemente tipada*@
@model Produto

<h2>Cadastro de produtos - Model</h2>
@using (Html.BeginForm("CadastroModel", "Exemplos", FormMethod.Post))
{
    <div class="margem">
        <div class="mb-3">
            @Html.LabelFor(p => p.Codigo, new{@class="form-label"})
            @Html.TextBoxFor(p => p.Codigo, new{@class="form-control"})
            @Html.ValidationMessageFor(p => p.Codigo, "" ,new { @class="text-danger" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(p => p.Descricao, new{@class="form-label"})
            @Html.TextBoxFor(p => p.Descricao, new{@class="form-control"})
            @Html.ValidationMessageFor(p => p.Descricao, "", new{ @class="text-danger" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(p => p.Preco, new{@class="form-label"})
            @Html.TextBoxFor(p => p.Preco, new{@class="form-control"})
            @Html.ValidationMessageFor(p => p.Preco, "", new{ @class="text-danger" })
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
}