@model IEnumerable<Projeto02.GestaoEventos.ViewModel.EventosConvidadosVM>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Convidado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInscricao)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Convidado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInscricao)
            </td>
        </tr>
}
    </tbody>
</table>
